body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
	color: #333;
}

.container {
	text-align: center;
}

.intro-box,
.game-box {
	background: #fff;
	padding: 40px 60px;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	transition: opacity 0.5s ease;
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

p {
	font-size: 1.2em;
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 25px;
	background-color: #007BFF;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

button:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

button:active {
	transform: translateY(0);
}

.controls {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#speedInput {
	width: 60px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
}

canvas {
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
}

footer a {
	margin: 0 15px;
	display: inline-block;
	font-size: 20px;
	color: #1e1f22;
}